.input {
  gap: 10px;
  padding: 10px;
  border: 2px solid var(--black-15);
  border-radius: 8px;
  background-color: var(--black-06);
  color: var(--absolute-white);

  position: absolute;
  top: 95px;
  right: 160px;
  width: 350px;
  z-index: 2;

  @media (max-width: 871px) {
    width: 200px;
    position: absolute;
    right: 0;
    top: 95px;
  }
}

.suggestions {
  background-color: var(--black-06);
  border: 2px solid var(--black-15);
  border-radius: 8px;
  padding: 10px;
  width: 350px;
  position: absolute;
  top: 140px;
  right: 160px;
  z-index: 2;

  @media (max-width: 871px) {
    width: 200px;
    position: absolute;
    right: 0;
    top: 145px;
  }
}

.list:hover {
  background-color: var(--black-15);
  cursor: pointer;
}
