.containerCards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.slider {
  width: var(--container-width);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
