.container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--black-15);
  border-radius: 8px;
  padding: 14px;
  width: 419px;
  height: 88px;
  background-color: var(--black-08);
  margin-bottom: 14px;

  p {
    font-weight: 500;
    font-size: 18px;
    color: var(--absolute-white);
  }
}

.image {
  border-radius: 8px;
  width: 56px;
  height: 60px;
}
