.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.inputField {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--absolute-white);
    margin-bottom: 16px;
  }

  input {
    border: 1px solid var(--black-15);
    border-radius: 8px;
    padding: 20px;
    width: 413px;
    height: 67px;
    background: var(--black-08);
  }

  textarea {
    border: 1px solid var(--black-15);
    border-radius: 8px;
    padding: 20px;
    width: 876px;
    height: 163px;
    background-color: var(--black-08);
    color: var(--absolute-white);
    resize: none;
  }
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.phoneInput {
  display: flex;
  gap: 10px;

  select {
    border: 1px solid var(--black-15);
    border-radius: 8px;
    padding: 0px 12px;
    width: 94px;
    height: 67px;
    background-color: var(--black-08);
    color: var(--grey-60);
  }

  input {
    border: 1px solid var(--black-15);
    border-radius: 8px;
    padding: 20px;
    width: 303px;
    height: 67px;
  }
}

.flagMenu {
  border: 1px solid var(--black-15);
  border-radius: 8px;
  padding: 0px 12px;
  width: 94px;
  height: 67px;
  background-color: var(--black-08);
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.checkbox {
  appearance: none;
  position: absolute;
}

.checkboxLabel {
  cursor: pointer;

  padding-left: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-60);
}

.checkboxLabel::before {
  content: "";
  display: block;
  border: 1px solid var(--black-15);
  border-radius: 4px;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.checkboxLabel::after {
  content: "";
  display: block;
  width: 28px;
  height: 28px;

  background: url("../../../shared/assets/svg/checkbox.svg") no-repeat;
  opacity: 0;
  background-size: 28px 28px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: opacity 0.2s ease-in-out;
}

.checkbox:checked + .checkboxLabel::after {
  opacity: 1;
}

.button {
  width: 173px;
  height: 63px;
  background-color: var(--red-45);
  font-weight: 600;
  color: var(--absolute-white);
  margin-left: auto;
}
