.block {
  display: flex;
  gap: 5px;

  @media (max-width: 871px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: calc(3 * (179px));
    overflow: hidden;
  }
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (min-width: 1320px) {
    width: 220px;
  }

  @media (min-width: 965px) and (max-width: 1319px) {
    width: 155px;
  }

  @media (max-width: 964px) {
    width: 135px;
  }

  @media (max-width: 871px) {
    width: 179px;
  }
}

.title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 20px;
  color: var(--absolute-white);
  cursor: pointer;

  &:hover {
    color: var(--grey-60);
  }
}

.list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.element {
  margin-bottom: 14px;
  cursor: pointer;

  &:hover {
    color: var(--absolute-white);
  }
}
