.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 34px;
  height: 127px;
  width: 758px;
  cursor: pointer;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #f59595, #f00303, #f00303, #f59595)
    47% 0%;
  transition: all 0.3s ease-in-out;
}

.container:nth-child(4),
.container:nth-child(8) {
  border-bottom: none;
}

.containerOpen {
  height: 175px;
}

.box {
  background-color: var(--black-12);
  color: var(--absolute-white);
  padding: 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  width: 62px;
  height: 67px;
  margin-right: 24px;
}

.text {
  flex: 1;

  h3 {
    font-weight: 500;
    font-size: 22px;
    color: var(--absolute-white);
  }

  p {
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.answer {
  max-height: 175px;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.image {
  transition: transform 0.3s ease-in-out;
  color: var(--absolute-white);
}

.rotateImage {
  color: var(--absolute-white);
  transform: rotate(90deg);
  width: 20px;
  height: 20px;
}

.verticalLine {
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: var(--absolute-white);
  transform: rotate(90deg);
}
