.rating {
  border: 1px solid var(--black-15);
  border-radius: 8px;
  padding: 16px;
  width: 199px;
  height: 96px;
  background-color: var(--black-08);
  margin-top: 14px;

  p {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: var(--absolute-white);
    margin-bottom: 12px;
  }
}
