.containerSvg {
  width: 257px;
  height: 88px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: var(--black-10);
  padding: 14px;
  border: 1px solid var(--black-12);
  border-radius: 8px;
  cursor: pointer;
}

.line {
  margin: auto auto;
  display: flex;
  gap: 3px;
}

.lineActive {
  color: var(--red-45);
}
