.author {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: var(--absolute-white);
  margin-bottom: 10px;
}

.textReview {
  font-weight: 400;
  font-size: 18px;
  color: var(--grey-60);
  padding: 0 40px 40px 40px;
  max-height: 150px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--black-15);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--grey-60);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--grey-80);
  }
}

.reviewsListContainer {
  overflow: hidden;
  width: 468px;
  height: 265px;
  background-color: var(--black-06);
  border: 1px solid var(--black-15);
  border-radius: 12px;
}
