.container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black-15);
  border-radius: 12px;
  padding: 50px;
  width: 512px;
  height: 425px;
  margin-right: 30px;
  background-color: var(--black-10);

  h4 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    color: var(--absolute-white);
  }

  p {
    font-size: 18px;
  }

  span {
    font-weight: 600;
    font-size: 40px;
    line-height: 73%;
    color: var(--absolute-white);
  }

  .price {
    margin: 50px 0 50px 0;
  }
}

.buttonContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 412px;
  height: 63px;
}

.button {
  border-radius: 8px;
  padding: 18px 24px;
  width: 196px;
  height: 63px;
  color: var(--absolute-white);
}

.buttonRed {
  background-color: var(--red-45);
  border-radius: 8px;
  padding: 18px 24px;
  width: 196px;
  height: 63px;
  color: var(--absolute-white);
}
