.textContainer {
  display: flex;
  justify-content: start;
  flex-direction: column;

  @media (min-width: 1440px) {
    margin: 150px 161px 80px;
  }

  @media (min-width: 1320px) and (max-width: 1439px) {
    margin: 150px 80px 80px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    margin: 120px 30px 60px;
  }

  @media (max-width: 871px) {
    margin: 50px 0 40px 10px;
  }
}

.title {
  font-weight: 700;
  color: var(--absolute-white);
  margin: 0 0 14px 0;

  @media (min-width: 1320px) {
    font-size: 38px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    font-size: 28px;
    line-height: normal;
  }

  @media (max-width: 871px) {
    font-size: 20px;
  }
}

.text {
  color: var(--grey-60);

  @media (min-width: 1320px) {
    font-size: 18px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    font-size: 16px;
  }

  @media (max-width: 871px) {
    font-size: 14px;
  }
}

.containerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 1320px) {
    gap: 30px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    gap: 20px;
  }

  @media (max-width: 871px) {
    gap: 20px;
    margin-left: 10px;
  }
}
