.toggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid var(--black-15);
  border-radius: 10px;
  width: 237px;
  height: 75px;
  background-color: var(--black-06);
  cursor: pointer;
  transition: background-color 0.3s ease;

  span {
    padding: 14px 24px;
    font-weight: 500;
    font-size: 18px;
  }
}

.active {
  border-radius: 10px;
  padding: 14px 24px;
  width: 118px;
  height: 55px;
  background-color: var(--black-12);
  color: var(--absolute-white);
}
