.container {
  display: flex;
  justify-content: start;
  margin: 0 162px;
  flex-direction: column;
  gap: 80px;
}

h2 {
  font-size: 48px;
  line-height: 150%;
  color: var(--absolute-white);
}

.box {
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--grey-60);
    width: 1297px;
  }
}

.table {
  td {
    border-top: 1px solid var(--black-15);
  }

  td:not(:last-child) {
    border-right: 1px solid var(--black-15);
  }
  table {
    table-layout: fixed;
    text-align: left;
    border: 1px solid var(--black-15);
    border-radius: 12px;
    width: 1597px;
    height: 1014px;
  }

  thead {
    border-bottom: 1px solid var(--black-15);
    width: 1597px;
    height: 90px;
    background-color: var(--black-06);

    th {
      padding: 30px;
      width: 399px;
      height: 90px;
      font-weight: 600;
      font-size: 20px;
      color: var(--absolute-white);

      span {
        font-weight: 500;
        font-size: 14px;
        color: var(--absolute-white);
        background-color: var(--red-45);
        border-radius: 2px;
        margin-left: 8px;
      }
    }

    th:first-child {
      border-radius: 12px 0 0 0;
    }
    th:last-child {
      border-radius: 0 12px 0 0;
    }
  }

  tbody {
    .td {
      width: 399px;
      padding: 30px;
      height: 90px;
    }

    .text {
      width: 398px;
      height: 141px;
      padding: 30px;
    }
  }
}
