.container {
  border: 1px solid var(--black-15);
  border-radius: 12px;
  padding: 50px;
  width: 1650px;
  height: 3164px;
  display: flex;
  flex-direction: column;
  margin: 200px 160px 150px 160px;
}

.buttonContainer {
  position: relative;
}

.button {
  background-color: var(--red-45);
  border-radius: 8px;
  padding: 10px 24px;
  width: 116px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: var(--absolute-white);
  position: absolute;
  top: -75px;
  left: 0;
}
