.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--grey-75);
  border: none;
  border-radius: 8px;
  font-weight: 400;
  line-height: 150%;
  cursor: pointer;
  font-family: var(--font-family);
  white-space: nowrap;
  width: 100%;
  background-color: var(--black-06);

  &:hover,
  &:active {
    background-color: var(--black-10);
    border: none;
    color: var(--absolute-white);
  }

  @media (min-width: 1320px) {
    font-size: 14px;
    line-height: 150%;
    padding: 14px 24px;
    font-size: 18px;
    width: 98px;
    height: 55px;
    font-weight: 400;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    padding: 8px;
    width: 65px;
    height: 40px;
    gap: 10px;
    font-weight: 400;
    font-size: 12px;
  }

  @media (max-width: 871px) {
    display: none;
  }
}
