.card {
  width: 295px;
  height: 342px;
  padding: 30px;
  border: 1px solid var(--black-15);
  border-radius: 12px;
  margin-top: 80px;
  cursor: pointer;
}

.text {
  display: flex;
  color: var(--absolute-white);
  justify-content: space-between;
}

.span {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
}

.image {
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
}
