.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 313px;
  border-radius: 12px;
  padding: 100px 80px;
  background: linear-gradient(
      90deg,
      #0f0f0f 2.08%,
      rgba(20, 15, 15, 0.97) 14.62%,
      rgba(34, 14, 14, 0.91) 27.12%,
      rgba(229, 0, 0, 0) 200%
    ),
    url("@/shared/assets/jpg/Container.jpg") right no-repeat;

  @media (min-width: 1320px) {
    width: var(--container-width);
    margin: 150px 162px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    margin: 80px 120px;
  }

  @media (max-width: 871px) {
    margin: 80px 16px;
    flex-direction: column;
    padding: 41px 35px;
  }

  @media (max-width: 400px) {
    padding: 41px 35px;
    width: 358px;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-self: start;
}

.title {
  font-weight: 700;
  color: var(--absolute-white);
  margin-bottom: 14px;

  @media (min-width: 1320px) {
    font-size: 48px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    font-size: 28px;
  }

  @media (max-width: 871px) {
    font-size: 24px;
    text-align: center;
  }
}

.text {
  font-weight: 400;

  @media (min-width: 1320px) {
    font-size: 18px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    font-size: 16px;
  }

  @media (max-width: 871px) {
    font-size: 14px;
    text-align: center;
  }
}

.button {
  padding: 18px 24px;
  background-color: var(--red-45);
  color: var(--absolute-white);
}
