.description {
  grid-area: 1 / 1 / 2 / 2;
  border: 1px solid var(--black-15);
  border-radius: 12px;
  padding: 50px;
  width: 1057px;
  height: 195px;
  background-color: var(--black-10);
  overflow: hidden;
}

.infoTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--grey-60);
  margin-bottom: 14px;
}

.descriptionText {
  font-weight: 500;
  font-size: 18px;
  color: var(--absolute-white);
}
