.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer;

  @media (min-width: 1320px) {
    margin: 25px 0 0 80px;
    width: 200px;
    height: 60px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    margin: 25px 0 0 30px;
    width: 165px;
    height: 60px;
  }

  @media (max-width: 871px) {
    margin: 25px 0 0 15px;
    width: 115px;
    height: 60px;
  }
}

.icons {
  margin-top: 43px;
  display: flex;
  gap: 30px;

  @media (min-width: 1320px) {
    margin-right: 160px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    margin-right: 80px;
  }

  @media (max-width: 871px) {
    position: absolute;
    right: 38%;
    top: 5px;
  }
}

.svgIcon {
  cursor: pointer;

  @media (min-width: 1320px) {
    width: 34px;
    height: 34px;
  }

  @media (min-width: 872px) and (max-width: 1319px) {
    width: 24px;
    height: 24px;
  }
}
