.container {
  display: flex;
  flex-direction: column;
  width: 512px;
  height: 283px;
  border: 1px solid var(--black-15);
  border-radius: 12px;
  padding: 50px;
  background: linear-gradient(
    205deg,
    rgba(0, 0, 0, 1) -300%,
    rgba(229, 0, 0, 1) -200%,
    rgba(230, 0, 0, 0) 33%
  );
}

.card {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;

  h3 {
    margin-left: 16px;
    font-weight: 600;
    font-size: 24px;
    color: var(--absolute-white);
  }
}

.image {
  border: 1px solid var(--black-12);
  border-radius: 12px;
  padding: 16px;
  width: 72px;
  height: 72px;
  background-color: var(--black-08);
  color: var(--red-45);
}
