.navigation {
  display: flex;
  gap: 25px;
  background-color: var(--black-06);
  border: 4px solid var(--black-12);
  border-radius: 12px;
  padding: 10px 40px 10px 10px;
  width: 585px;
  margin: 22px auto 0 auto;
}

.button {
  width: 100%;
  padding: 14px 20px;
}

.active {
  background-color: var(--black-10);
  border-radius: 8px;
  text-decoration: none;
}
